html,body{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.Loader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;
}

.Line{
    display: inline-block;
    width: 50px;
    height: 10px;
    background-color: lightgray;
    border-radius: 10px;
    animation: scale-up 1s linear infinite;
}

.Line:nth-child(2){
    width: 70px;
    margin: 5px 0;
    animation-delay: .25s;
}

.Line:nth-child(3){
    animation-delay: .5s;
}

@keyframes scale-up {
    20%{
        background-color: white;
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
    }
}